/* fonts */

@font-face {
    font-family: 'impact';
    src: url("https://static.igem.wiki/teams/5184/fonts/impact-webfont.woff")
}

@font-face {
    font-family: 'extenda';
    src: url("https://static.igem.wiki/teams/5184/fonts/extenda-40-hecto-trial-webfont.woff")
}

@font-face {
    font-family: 'poppins';
    src: url("https://static.igem.wiki/teams/5184/fonts/poppins-black-webfont.woff")
}

@font-face {
    font-family: 'dingosstamp';
    src: url("https://static.igem.wiki/teams/5184/fonts/dingos-stampblack.woff");
}

@font-face {
    font-family: 'guerrilla';
    src: url("https://static.igem.wiki/teams/5184/fonts/guerrilla-normal.woff");
}

@font-face {
    font-family: 'magnifico';
    src: url("https://static.igem.wiki/teams/5184/fonts/magnifico.woff");
}

@font-face {
    font-family: 'peacesans';
    src: url("https://static.igem.wiki/teams/5184/fonts/peacesans.woff");
}

@font-face {
    font-family: 'poppinsmedium';
    src: url("https://static.igem.wiki/teams/5184/fonts/poppins-medium-webfont.woff");
}

@font-face {
    font-family: 'anton';
    src: url("https://static.igem.wiki/teams/5184/fonts/anton.woff");
}

@font-face {
    font-family: 'kunika';
    src: url("https://static.igem.wiki/teams/5184/fonts/kunika.woff");
}

@font-face {
    font-family: 'iconfontsidebar';
    src: url('https://static.igem.wiki/teams/5184/fonts/iconfont.woff2?t=1727624921257') format('woff2'), url('https://static.igem.wiki/teams/5184/fonts/iconfont.woff?t=1727624921257') format('woff'), url('https://static.igem.wiki/teams/5184/fonts/iconfont.ttf?t=1727624921257') format('truetype');
}

@font-face {
    font-family: 'iconfontsafety';
    src: url('https://static.igem.wiki/teams/5184/fonts/iconfont-safety.woff');
}

@font-face {
    font-family: 'iconfont-contribution';
    src: url('https://static.igem.wiki/teams/5184/fonts/iconfont-contribution.woff');
}

@font-face {
    font-family: 'iconfont-hp';
    src: url('https://static.igem.wiki/teams/5184/fonts/iconfont-hp.woff');
}

@font-face {
    font-family: 'iconfont-sustainability';
    src: url('https://static.igem.wiki/teams/5184/fonts/iconfont-sustainability.woff');
}

@font-face {
    font-family: 'iconfont-inclusive';
    src: url('https://static.igem.wiki/teams/5184/fonts/iconfont-inclusive.woff');
}

@font-face {
    font-family: 'iconfont-education';
    src: url('https://static.igem.wiki/teams/5184/fonts/iconfont-education.woff');
}

@font-face {
    font-family: 'iconfont-entrepreneur';
    src: url('https://static.igem.wiki/teams/5184/fonts/iconfont-entrepreneur2.woff');
}

@font-face {
    font-family: 'tenorite';
    src: url('https://static.igem.wiki/teams/5184/fonts/tenorite.woff');
}

body {
    margin: 0;
    height: 200vh;
    overflow-x: hidden;
    background: linear-gradient(#3d3b42, #7597de);
}

.nav-flex {
    background-color: #ffffff;
    z-index: 111;
    height: 5.5rem;
    width: 95%;
    margin: 1rem 1.5rem 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.menu {
    list-style-type: none;
    z-index: 111;
    position: relative;
    background-color: #ffffff;
    height: 1.8em;
    width: 90%;
    border: 0.4rem solid black;
    padding: 0.7rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.menu-box {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 1.8rem;
    width: 90%;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}


/* .menu {
    display: flex;
    align-items: center;
    height: 100%;
} */

.menutitle {
    font-family: 'poppins';
    text-decoration: none;
    color: black;
    height: 100%;
    font-size: calc(0.5em + 1.2vw);
    display: flex;
    margin: 0.8rem;
    align-items: center;
    transition: all 0.2s;
}

.menutitle:hover {
    font-size: calc(0.8em + 1.2vw);
    animation: neon-flicker 4s infinite;
}

.menutitle-ch {
    font-family: 'impact';
    text-decoration: none;
    color: black;
    height: 100%;
    font-size: calc(0.6em + 1.2vw);
    display: flex;
    margin: 0.8rem;
    align-items: center;
    transition: all 0.2s;
}

.menutitle-ch:hover {
    font-size: calc(1em + 1.2vw);
    animation: neon-flicker 4s infinite;
}


#language-switcher {
    border-radius: 10%;
    width: 4vw;
    transition: all 0.5s;
}

#language-switcher:hover {
    background-color: #bdbdbd;
}

#language-switcher span {
    font-size: calc(0.2em + 0.6vw);
}

@keyframes neon-flicker {
    0% {
        color: rgb(126, 4, 0)
    }
    30%,
    32%,
    34% {
        color: rgb(0, 0, 0);
        /* text-shadow: -1px 0px 3px rgb(0, 0, 0), 0px 0px 2px rgb(0, 0, 0); */
    }
    31%,
    33%,
    35%,
    100% {
        color: rgb(234, 8, 0);
        /* text-shadow: -1px 0px 3px rgb(234, 8, 0), 0px 0px 2px rgb(234, 8, 0); */
    }
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 100;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 10;
    margin-top: 5rem;
}

#text {
    font-family: 'poppinsmedium';
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p {
    font-size: 1em;
    color: #fff;
}
